body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #484848;
}

hr { 
  height: 1px;
  color: lightgrey;
  background-color: lightgrey;
  border: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

#module-container {
  margin-left: 45px;
  width: 376px;
  z-index: 3;
  margin-top: 32px;
}

#module-container-2 {
  padding: 24px;
  padding-top: 16px;
  border: 1px solid lightgrey;
}

.subtitle {
  font-weight: 500;
}

.checkin-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 17px;
  color: grey;
  width: 40%;
  padding: 8px;
}

.guests-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 17px;
  color: black;
  padding: 8px;
  margin-left: 3px
}

.date-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 42px;
  height: 42px;
  border: 1px solid grey;
  margin-left: -1px;
  margin-bottom: -1px;
}

.day-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.booked {
  color: lightgrey;
  text-decoration: line-through;
}

.hoverable:hover {
  background-color:rgba(0, 0, 0, 0.2)
}

.empty-box {
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  margin-left: -1px;
  margin-bottom: -1px;
}

#calendar-container {
  display: flex;
  flex-wrap: wrap;
  width: 301px;
}

#dates-container {
  display:flex;
  align-content: center;
  justify-content: center;
  width: auto;
  box-sizing: border-box;
  color: #484848;
  margin-bottom: 16px;
}

#checkin-dates-container {
  display:flex;
  align-content: center;
  justify-content: center;
  width: auto;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

#guests-container {
  display:flex;
  justify-content: space-between;
  width: auto;
  border: 1px solid lightgrey;
}

#switch-container {
  display:flex;
  align-content: center;
  justify-content: center;
}

#big-container {
  border: 1px solid lightgrey;
  text-align: center;
  width: 335px;
}

#month-name {
  font-size: 20px;
  font-weight: 700;
}

#buttons-and-month {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: grey;
  font-size: 10px;
  height: 10px;
  width: 50px;
  margin: 0;
  position: relative;
}

.star-ratings-top {
  color: #007D8C;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
}

.star-ratings-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.price-name {
  font-size: 22px;
  font-weight: 600;
}

.small-text {
  font-size: 12px;
  font-weight: 500;
}

.arrow {
  height: 24px;
  width: 24px;
  display: block;
  fill: currentcolor;
  position: relative;
  top: 4px
}

.rating {
  display: flex;
  margin-top: 1px;
}

.popup {  
  position: absolute;  
  width: 335px;  
  height: auto;  
  background-color: white;
  z-index: 1;
} 

.popup\_inner {  
  position: relative;  
  border-radius: 20px;  
  background: white;  
}

#dropdown-arrow {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  margin-top: 10px;
  margin-right:10px;
}

#guests-info-container {
  width: 326px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: white;
}

#guests-info-container2 {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.guests-info-section {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding: 10px;
}

.column {
  width: 50%;
}

.description {
  display: block;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.guests-buttons {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-left: 20px;
}

.plus-minus-button {
  height: 1em;
  width: 1em;
  display: block; 
  fill: currentcolor;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: relative;
  touch-action: manipulation;
  height: 32px;
  width: 32px;
  box-shadow: none;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(0, 132, 137);
  background: transparent;
  border-width: 1px;
}

.num-guests {
  padding: 5px
}

.max-guests-info {
  width: auto;
  padding: 10px;
  margin-top: 5px;
}

#close-button {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 10px;
  text-align: right;
  color: #007D8C;
  cursor: pointer;
}

#close-button:hover {
  text-decoration: underline;
}

.reserve-button {
  margin-top: 24px;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 71.1935px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background: rgb(255, 90, 95);
  border-color: transparent;
}

.center-text {
  margin-top: 10px;
  text-align: center;
}

.next-prev-button {
  cursor: pointer;
    user-select: none;
    background-color: rgb(255, 255, 255);
    color: rgb(117, 117, 117);
    /* position: absolute; */
    top: 18px;
    line-height: 0.78;
    right: 22px;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(228, 231, 231);
    border-image: initial;
    border-radius: 3px;
    padding: 6px 9px;
}

.next-prev-button-svg {
  height: 19px;
    width: 19px;
    fill: rgb(130, 136, 138);
    display: block;
}